%h1 Listing people

%table
  %tr
    %th Name
    %th Email
    %th Borough
    %th Party
    %th Positions
    %th Responsibilities
    %th Wikipedia
    %th Facebook
    %th Twitter
    %th Web
    %th Photo url
    %th Source
    %th Source url
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.email
      %td= person.borough
      %td= person.party
      %td= person.positions
      %td= person.responsibilities
      %td= person.wikipedia
      %td= person.facebook
      %td= person.twitter
      %td= person.web
      %td= person.photo_url
      %td= person.source_id
      %td= person.source_url
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Person', new_person_path
