#person.container
  .row
    .span3.sidebar
      .photo= image_tag @person.photo_url, class: "thumbnail"
      .spacer
      .sidenav
        = link_to "Biography"
        = link_to "Contact"
        = link_to "Budget"
        = link_to "Share"
        
    .span7
      %h1
        == #{@person.name}
      %h3
        %span.dim
          = @person.positions.first
      .activities
        - @activities.each do |activity|
          = render "shared/#{activity.source}", activity: activity
          .spacer

      / = render 'shared/mini_council', people: @person.others_in_borough

    .span6
      %aside
        %h3 Connect
        - if @person.twitter
          .social
            = link_to @person.twitter_url do
              = image_tag "https://www.nimonikapp.ca/images/twitter_small.png"
              Twitter
        - if @person.facebook
          = link_to 'Twitter', @person.facebook
        %section#coordinates
          %h3 Coordonnées
          - if @person.email
            %p
              = mail_to @person.email
          - @person.addresses.each do |address|
            %h4
              = address.name
            %p
              - address.address.each do |line|
                = line
                %br
            - if address.tel
              %p
                %b Tél
                = number_to_phone address.tel, area_code: true
            - if address.fax
              %p
                %b Fax
                = number_to_phone address.fax, area_code: true
        %section#positions
          %h3 Positions
          %ul
            - @person.positions.each do |position|
              %li
                = position
        - if @person.responsibilities
          %section#responsibilities
            %h3 Responsabilités
            - @person.responsibilities.each do |section,responsibilities|
              %h4
                = section
              %ul
                - responsibilities.each do |responsibility|
                  %li
                    = responsibility
        - if @person.functions
          %section#functions
            %h3 Fonctions et comités stratégiques
            %ul
              - @person.functions.each do |function|
                %li
                  = function
