- content_for(:head){auto_discovery_link_tag :atom, format: 'atom'}
#person.container
  .row
    .span2
      = image_tag @person.photo.large.url, size: '90x120', alt: ''
      %span.label(class="#{@person.party_slug}")= @person.party_name
    .span9
      %h2
        #{@person.name},
        %span
          #{link_to @person.borough_name, borough_path(id: @person.borough_slug)},
          = @person.district_id ? @person.district.name : @person.positions.first
      %ul.unstyled#council-mini
        - @person.others_in_borough.sort_by{|x| x.mayor? ? 'A' : x.last_name}.each do |person|
          %li(class="#{'well' if person.mayor?}")
            = link_to image_tag(person.photo.thumb.url, size: '48x48', alt: ''), person_path(id: person.slug)
            .person
              .name
                %abbr.label(class="#{person.party_slug}" title="#{person.party_name}")= person.party_slug.first.upcase
                = link_to person.name, person_path(id: person.slug)
              .position
                = person.district_id ? person.district.name : person.position
      .newsletter.well
        %p=t '.newsletter.text'
        %form(action="http://opennorth.us2.list-manage.com/subscribe/post?u=a602fac79ef3dc584bf1a2743&id=bd133c7a86" method="post")
          = label_tag 'mce-EMAIL', t('.newsletter.email')
          = text_field_tag 'EMAIL', nil, id: 'mce-EMAIL'
          = submit_tag t('.newsletter.submit'), class: 'btn'
      = render 'shared/share', url: person_url(id: @person.slug, format: 'atom')
      %ul#tab.nav.nav-tabs
        %li.active
          %a{:href => "#activities", "data-toggle" => "tab"} Activities
        %li
          %a{:href => "#bio", "data-toggle" => "tab"} Bio
      .tab-content
        .tab-pane.active#activities
          %ul.unstyled
            - @activities.each do |activity|
              %li
                = render "shared/#{activity.source}", activity: activity
        .tab-pane#bio
          %p 
            = @person.biography_text
    .span5
      %aside
        = render 'shared/social', entity: @person
        %section#contact
          %h3=t '.contact'
          - if @person.email
            %p
              = mail_to @person.email
          - @person.addresses.each do |address|
            %h4
              = address.name
            %p
              - address.address.each do |line|
                = line.html_safe
                %br
            - if address.tel
              %p
                %b=t '.tel'
                = number_to_phone address.tel, area_code: true, extension: address.ext
            - if address.fax
              %p
                %b=t '.fax'
                = number_to_phone address.fax, area_code: true
        - if @person.other_positions.present?
          %section#positions
            %h3=t '.positions'
            %ul
              - @person.positions.each do |position|
                %li
                  = position
        - if @person.functions.present?
          %section#functions
            %h3=t '.committees'
            %ul
              - @person.human_functions.each do |function|
                %li
                  = function
        - if @person.responsibilities.present?
          %section#responsibilities
            - @person.responsibilities.each do |section,responsibilities|
              %h3
                = section
              %ul
                - responsibilities.each do |responsibility|
                  %li
                    = responsibility
        - if @person.web_url
          %p
            = link_to web_url_text(@person), @person.web_url
        %p
          = link_to t('links.villemontrealqcca', name: @person.name), @person.url
