- content_for(:head){auto_discovery_link_tag :atom, format: 'atom'}
#person.container
  .row
    .span2
      #photo= image_tag @person.photo.large.url, size: '90x120', alt: ''
      %span.label(class="#{@person.party_slug}")= @person.party_name
    .span7
      %h2
        #{@person.name},
        %span
          #{link_to @person.borough_name, borough_path(id: @person.borough_slug)},
          = @person.district_id ? @person.district.name : @person.positions.first
      %ul.unstyled#council-mini
        - @person.others_in_borough.sort_by{|x| x.mayor? ? 'A' : x.last_name}.each do |person|
          %li(class="#{'well' if person.mayor?}")
            = link_to image_tag(person.photo.thumb.url, size: '48x48', alt: ''), person_path(id: person.slug)
            .person
              .name
                %abbr.label(class="#{person.party_slug}" title="#{person.party_name}")= person.party_slug.first.upcase
                = link_to person.name, person_path(id: person.slug)
              .position
                = person.district_id ? person.district.name : person.position
      - if flash.alert
        .alert.alert-error.fade.in
          %a.close(href="#" data-dismiss="alert") ×
          %p= flash.alert
      - if flash.notice
        .alert.alert-success.fade.in
          %a.close(href="#" data-dismiss="alert") ×
          %p= flash.notice
      .newsletter.well
        %p=t '.newsletter.text'
        = form_tag subscribe_person_path(@person), class: 'form-inline' do
          = label_tag :email, t('.newsletter.email')
          = text_field_tag :email, params[:email], placeholder: t('.newsletter.placeholder')
          = submit_tag t('.newsletter.submit'), class: 'btn'
      = render 'shared/share', url: person_url(id: @person.slug, format: 'atom')
      %ul.nav.nav-tabs
        %li.active
          = link_to t('.activities'), '#activities', 'data-toggle' => 'tab'
        - if @person.biography.present?
          %li
            = link_to t('.biography'), '#biography', 'data-toggle' => 'tab'
      .tab-content
        .tab-pane.active#activities
          %ul.unstyled
            - @activities.each do |activity|
              %li
                = render "shared/#{activity.source}", activity: activity
        .tab-pane#biography
          %p
            = @person.biography_text
    .span3
      %aside
        = render 'shared/social', entity: @person
        %section#contact
          %h3=t '.contact'
          - if @person.email
            %p
              = mail_to @person.email
          - @person.addresses.each do |address|
            %h4
              = address.name
            %p
              - address.address.each do |line|
                = line.html_safe
                %br
            - if address.tel
              %p
                %b=t '.tel'
                = number_to_phone address.tel, area_code: true, extension: address.ext
            - if address.fax
              %p
                %b=t '.fax'
                = number_to_phone address.fax, area_code: true
        - if @person.other_positions.present?
          %section#positions
            %h3=t '.positions'
            %ul
              - @person.positions.each do |position|
                %li
                  = position
        - if @person.functions.present?
          %section#functions
            %h3=t '.committees'
            %ul
              - @person.human_functions.each do |function|
                %li
                  = function
        - if @person.responsibilities.present?
          %section#responsibilities
            - @person.responsibilities.each do |section,responsibilities|
              %h3
                = section
              %ul
                - responsibilities.each do |responsibility|
                  %li
                    = responsibility
        - if @person.web_url
          %p
            = link_to web_url_text(@person), @person.web_url
        %p
          = link_to t('links.villemontrealqcca', name: @person.name), @person.url
