#person.container
  .row
    .span2
      = image_tag @person.photo.large.url, size: '90x120', alt: ''
      %abbr.label(class="#{@person.party_slug}")= @person.party_name
      = link_to "Biography"
      = link_to "Contact"
      = link_to "Budget"
      = link_to "Share"
    .span9
      = render 'shared/mini_council', people: @person.others_in_borough
      %h1
        = @person.name
      %h3
        %span
          = @person.positions.first
        #activities
          %ul.unstyled
            - @activities.each do |activity|
              %li
                = render "shared/#{activity.source}", activity: activity
    .span5
      %aside
        - if @person.twitter
          .social
            = link_to @person.twitter_url do
              = image_tag "https://www.nimonikapp.ca/images/twitter_small.png"
        - if @person.facebook
          = link_to 'Facebook', @person.facebook
        %section#coordinates
          %h3 Coordonnées
          - if @person.email
            %p
              = mail_to @person.email
          - @person.addresses.each do |address|
            %h4
              = address.name
            %p
              - address.address.each do |line|
                = line.html_safe
                %br
            - if address.tel
              %p
                %b Tél
                = number_to_phone address.tel, area_code: true
            - if address.fax
              %p
                %b Fax
                = number_to_phone address.fax, area_code: true
        %section#positions
          %h3 Positions
          %ul
            - @person.positions.each do |position|
              %li
                = position
        - if @person.responsibilities.present?
          %section#responsibilities
            %h3 Responsabilités
            - @person.responsibilities.each do |section,responsibilities|
              %h4
                = section
              %ul
                - responsibilities.each do |responsibility|
                  %li
                    = responsibility
        - if @person.functions.present?
          %section#functions
            %h3 Fonctions et comités stratégiques
            %ul
              - @person.functions.each do |function|
                %li
                  = function
