.container
  .row
    .span10
      %h2
        = @person.name
    .span6
      %aside
        
  = @person.name
%p
  %b Email:
  = @person.email
%p
  %b Borough:
  = @person.borough
%p
  %b Party:
  = @person.party
%p
  %b Positions:
  = @person.positions
%p
  %b Responsibilities:
  = @person.responsibilities
%p
  %b Wikipedia:
  = @person.wikipedia
%p
  %b Facebook:
  = @person.facebook
%p
  %b Twitter:
  = @person.twitter
%p
  %b Web:
  = @person.web
%p
  %b Photo url:
  = @person.photo_url
%p
  %b Source:
  = @person.source_id
%p
  %b Source url:
  = @person.source_url

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
