- if activity.image
  .image= image_tag(activity.image, size: '48x48', alt: '')
.activity
  .title
    = link_to activity.extra[:title], activity.url
  .by
    = activity.extra[:publisher]
  .body
    = activity.body
  .meta
    = timestamp(activity.published_at)
    =t 'mentioning'
    = link_to activity.person.name, person_path(id: activity.person.slug), class: 'mention'