.container
  .row
    .span16
      %h2 Suivez l'activité de vos élus à la Ville de Montréal
      .hero-unit
        = render 'shared/search_form'
  .row
    .span8#activities
      %h2 Nouvelles
      %ul.unstyled
        - @activities.each do |activity|
          %li
            = render "shared/#{activity.source}", activity: activity
    .span8
      %h2 Arrondissements
      .row#boroughs
        - @boroughs.in_two.each do |boroughs|
          .span4
            %ul.unstyled
              - boroughs.each do |borough|
                %li
                  = link_to borough.name, borough_path(id: borough.slug)
      %h2 Élus
      .row#people
        - @people.in_two.each do |people|
          .span4
            %ul.unstyled
              - people.each do |person|
                %li
                  = link_to image_tag(person.photo.thumb.url, size: '48x48', alt: ''), person_path(id: person.slug)
                  .person
                    .name
                      = link_to person.name, person_path(id: person.slug)
                      %abbr.label(class="#{person.party_slug}" title="#{person.party_name}")= person.party_slug.first.upcase
                    .borough
                      = person.borough_name
                    .position
                      = person.position
