.container
  .row
    .span5
      %h3
        Nouvelles

      .activities
        - @activities.each do |activity|
          .activity
            .photo= image_tag activity.profile_image_url, class: "thumbnail"
            .title= link_to activity.screen_name
            .snippet.dim= activity.body
          .spacer
            / = render "shared/#{activity.source}", activity: activity
    .span11
      %h3 
        Choisissez un arrondissement:
      %ul.two_column
        - @boroughs.each do |borough|
          - next if borough.name.nil?
          %li
            = link_to truncate(borough.name, length: 30), borough
      .spacer
      %h3 Maires et conseillers
      .people
        - @people.each do |person|
          - next if person.name.nil?
          .person
            .photo= image_tag person.photo_url, class: "thumbnail"
            .name= link_to person.name, person
            .position.dim= person.positions.first
