- content_for(:head){auto_discovery_link_tag :atom, format: 'atom'}
.container
  .row
    .span16
      %h2
        = @borough.name
      %ul.unstyled#council
        - @borough.people.sort_by{|x| x.mayor? ? 'A' : x.last_name}.each do |person|
          %li(class="#{'well' if person.mayor?}")
            = link_to image_tag(person.photo.large.url, size: '90x120', alt: ''), person_path(id: person.slug)
            .person
              .name
                = link_to person.name, person_path(id: person.slug)
                %abbr.label(class="#{person.party_slug}" title="#{person.party_name}")= person.party_slug.first.upcase
              .position
                = person.district_id ? person.district.name : person.positions.first
  .row.spacer
    .span11#activities
      %span.icons
        = link_to image_tag('blank.gif', size: '25x25', alt: t('.feed.subscribe'), title: t('.feed.subscribe')), borough_path(id: @borough.slug, format: 'atom'), class: 'rss'      
      %ul.unstyled
        - @activities.each do |activity|
          %li
            = render "shared/#{activity.source}", activity: activity
    .span5
      %aside
        = render 'shared/social', entity: @borough
        %p
          = link_to t('links.villemontrealqcca', name: @borough.name), @borough.url
