.container
  .row
    .span16
      %h2
        = @borough.name
      = render 'shared/mini_council', people: @borough.people
      /= render 'shared/budget', borough: @borough
  .row.spacer
    .span11#activities
      %ul.unstyled
        - @activities.each do |activity|
          %li
            = render "shared/#{activity.source}", activity: activity
    .span5
      %aside
        %ul
          - if @borough.twitter
            %li
              = link_to 'Twitter', @borough.twitter_url
          - if @borough.facebook
            %li
              = link_to 'Twitter', @borough.facebook
          - if @borough.youtube
            %li
              = link_to 'Twitter', @borough.youtube
          - if @borough.flickr
            %li
              = link_to 'Twitter', @borough.flickr
        %p
          = link_to "#{@borough.name} sur ville.montreal.qc.ca", @borough.url
